.purple{
   background-color: rgb(215, 100, 192);
    height: 100vh;
    
}
#h2{
  padding-left: 20px;
  padding-top: 20px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  grid-auto-columns: 50px;
  gap: 10px;
  padding: 20px;
}


.grid-item {
  background-color:rgb(192, 189, 189);
  border-radius: 2px;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}


.span-all {
  grid-column: 1 / 4;  
    max-height: 150px; 
    overflow-y: auto;
    border-color: black;
}

.yellow{
  background-color: rgb(238, 234, 172);
  height: 100vh;

}

.texts{
  display: flex;
  flex-direction: column; /* makes 3 rows stacked vertically */
  gap: 20px; 
  padding: 20px;

}

.Flex-item{
  background-color: azure;
  border: 1px solid black;
  height: 100px;
  padding: 20px;
}

#red-head{
  color: red;
}

.red{
  color: red;
  border: 1px dotted red;
}

#fieldset{
 border: 1px dotted red;
}


.Fixed {
  display: flex;
  flex-direction: column;
  position: relative; 
  background-color: #f2f2f6fc; 
  padding: 20px;
  height: 200px;
  width: 470px;
}


.Img {
  position:fixed;
  top: 10px;    
  right: 10px;    
  width: 100px;   
  height: auto;
 
}



